<div class="aside">
    <!-- 个人资料 -->
    <div class="profile">
        <!-- 头像 -->
       <!--坑-->
    </div>
    <script type="text/template" id="userProfileTplId">
        <div class="avatar img-circle">
            <img src="
      {{tc_avatar||'/assets/images/default.png '}} ">
        </div>
        <h4>  匿名用户 </h4>;
</script>
    <!-- 导航菜单 -->
    <div class="navs">
        <ul class="list-unstyled">
            <li>
                <a href="/" class="active">
                    <i class="fa fa-home"></i>
                    仪表盘
                </a>
            </li>
            <li>
                <a href="/user/list">
                    <i class="fa fa-bell"></i>
                    用户管理
                </a>
            </li>
            <li>
                <a href="/teacher/list">
                    <i class="fa fa-bell"></i>
                    讲师管理
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-cog"></i>
                    课程管理
                    <i class="arrow fa fa-angle-right"></i>
                </a>
                <ul class="list-unstyled">
                    <li>
                        <a href="/course/add">
                             课程添加
                        </a>
                    </li>
                    <li>
                        <a href="/index.php/course/list">
                            课程列表
                        </a>
                    </li>
                    <li>
                        <a href="/course/category">
                            课程分类
                        </a>
                    </li>
                    <li>
                        <a href="course/topic">
                            课程专题
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/advert/list">
                    <i class="fa fa-bell"></i>
                    广告管理
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-cog"></i>
                    系统设置
                    <i class="arrow fa fa-angle-right"></i>
                </a>
                <ul class="list-unstyled">
                    <li>
                        <a href="javascript:;">
                            网站设置
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                             权限管理
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>