#product > .product-list {
  display: flex;
  flex-wrap: wrap;
}
#product > .product-list > .product-item {
  padding: 10px;
  width: 50%;
  border: 1px solid #e6e6e6;
  text-align: center;
  height: 289px;
}
#product > .product-list > .product-item > img {
  width: 140px;
  height: 140px;
}
#product > .product-list > .product-item > .product-name {
  text-align: left;
}
#product > .product-list > .product-item > .product-price {
  text-align: left;
}
#product > .product-list > .product-item > .from-time {
  text-align: left;
}
#product > .loading-info {
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px;
}
#product > .loading-info > img {
  width: 35px;
  height: 35px;
}
#product > .loading-info > .loading-tips {
  display: none;
  padding: 10px;
}
